@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #000;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #1aeeef;
    border-radius: 6px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #000000;
    transition: 0.5s;
    z-index: 1000;
}

header.sticky {
    background:  #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}

header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin: 10px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

header ul li a:hover {
    background: #1aeeef;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}

header .actions .searchBox {
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
}

header .actions .searchBox i {
    font-size: 1.4em;
    margin: 5px;
    color: #222;
}

header .actions .searchBox input {
    outline: none;
    border: none;
    font-size: 1em;
    color: #222;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .bg {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .bg .content {
    width: 50%;
    height: 100%;
}

.banner .bg .content h2 {
    font-size: 4em;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(255, 0, 255, 0.5), 0 0 20px rgba(255, 0, 255, 0.5), 0 0 40px rgba(255, 0, 255, 0.5), 0 0 80px rgba(255, 0, 255, 0.5), 0 0 120px rgba(255, 0, 255, 0.5), 0 0 150px rgba(255, 0, 255, 0.5);
}

.banner .bg .content p {
    font-size: 1em;
    color: #dbd9d9;
    letter-spacing: 1px;
}

.banner .bg .content a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}

.banner .bg .content a:hover {
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}

.banner .bg img {
    width: 600px;
}

.about {
    position: relative;
    width: 100%;
    min-height: 75vh;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .contentBx {
    width: 50%;
    margin: 20px;
}

.about .contentBx h2 {
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}

.about .contentBx p {
    max-width: 600px;
    text-align: justify;
    color: #dbd9d9;
}

.about .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}

.about .contentBx a:hover {
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}

.games {
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}

.games h2 {
    color: #fff;
    margin: 10px 0;
}

.games ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.games ul li {
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
}

.games ul li.active {
    background: #1aeeef;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}

.games .cardBx {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.games .cardBx .card {
    width: 280px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #1b2141;
    overflow: hidden;
}

.games .cardBx .card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.games .cardBx .card .content {
    padding: 10px;
}

.games .cardBx .card .content h4 {
    color: #fff;
    margin: 15px 0;
}

.games .cardBx .card .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: #35407e;
    margin-bottom: 15px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.games .cardBx .card .progress-line span {
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background: #1aeeef;
    box-shadow: 0 0 10px #1aeeef;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.games .cardBx .card .info {
    border-top: 2px solid #35407e;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games .cardBx .card .info p {
    font-size: 1em;
    color: #fff;
}

.games .cardBx .card .info p span {
    color: #1aeeef;
}

.games .cardBx .card .info a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}

.games .cardBx .card .info a:hover {
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}

.games .cardBx .card.hide {
    display: none;
}

.contact {
    padding: 20px 100px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact img {
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.contact .form {
    width: 50%;
    margin: 30px;
}

.contact .form h1 {
    color: #fff;
}

.contact .form .inputBx {
    margin: 10px 0;
}

.contact .form .inputBx p {
    color: #fff;
}

.contact .form .inputBx input,
.contact .form .inputBx textarea {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    color: #fff;
    background: #1b2141;
    min-height: 15px;
    font-size: 1.1em;
}

.contact .form .inputBx textarea {
    height: 150px;
}

.contact .form .inputBx input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    outline: none;
    background: transparent;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    width: 150px;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}

.contact .form .inputBx input[type="submit"]:hover {
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}

footer {
    padding: 10px 100px;
}

footer .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .info .logo {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}

footer .info p {
    color: #dbd9d9;
}

footer .info ul {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .info ul li {
    list-style: none;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1aeeef;
}

footer .info ul li:hover {
    background: #1aeeef;
    border: none;
    box-shadow: 0 0 10px #1aeeef;
}

footer .info ul li a i {
    font-size: 1.5em;
    color: #fff;
}

footer .info ul li:hover a i {
    color: #050e2d;
}

.animeX {
    position: relative;
    transform: translateY(70px);
    opacity: 0;
    transition: all 2s ease;
}

.animeX.active {
    transform: translateY(0px);
    opacity: 1;
}

@media (max-width: 991px) {
    header {
        padding: 15px 40px;
    }

    header.nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #1b2141;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1000;
    }

    header .nav .active {
        display: flex;
    }

    header.nav li {
        margin: 20px 0;
    }

    header.nav li a {
        font-size: 24px;
        margin: 10px 0;
    }

    .toggleMenu {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 1001;
    }

    .toggleMenu.active {
        background: url(close.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
    }

    .banner,
    bg img {
        position: absolute;
    }

    .banner .bg .content {
        width: 100%;
        height: 100%;
        background: rgb(27 33 65 / 50%);
        padding: 20px;
        z-index: 1;
        border-radius: 10px;
    }

    .about {
        flex-direction: column;
    }

    .about .contentBx {
        width: 100%;
    }

    .contact {
        flex-direction: column;
    }

    .contact img {
        height: 100%;
        width: 100%;
    }

    .contact .form {
        width: 100%;
        margin: 30px;
        padding: 10px;
    }

    .contact .form h1 {
        text-align: center;
    }

    footer .info {
        flex-direction: column;
    }

    #loginSignupButtons {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    }

    #loginSignupButtons a {
        display: none;
        margin-top: 10px;
        padding: 10px 20px;
        border: 1px solid #1aeeef;
        text-decoration: none;
        font-weight: 700;
        border-radius: 5px;
        color: #fff;
        letter-spacing: 1px;
    }

    #loginSignupButtons a:hover {
        background: #1aeeef;
        border: none;
        color: #050e2d;
        box-shadow: 0 0 10px #1aeeef;
    }

    #loginSignupButtons.show {
        display: block;
    }
}




.form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    max-width: 400px; /* Adjust the max-width as needed */
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container .inputBx {
    margin-bottom: 15px;
}

.form-container .inputBx p {
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
}

.form-container input[type="submit"] {
    background-color: #1aeeef;
    color: #fff;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #059b9b;
}

.close-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}

@media screen and (max-width: 768px) {
    .form-container {
        max-width: 90%;
    }
}

/* Styles for the modal */
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1001; /* Ensure modal is above other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
    overflow: auto;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  /* Modal Content */
  /* Modal Content */
.modal-content {
    background-color: #1b2141;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #1aeeef;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    color: #fff;
    z-index: 1002; /* Ensure modal content is above the overlay */
  }
  
  
  /* Close Button */
  .close-btn {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: #1aeeef;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Form Styling */
  .modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
  }
  
  .modal-content .inputBx {
    margin-bottom: 15px;
  }
  
  .modal-content .inputBx p {
    margin-bottom: 5px;
  }
  
  .modal-content input[type="text"],
  .modal-content input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
  }
  
  .modal-content input[type="submit"] {
    background-color: #1aeeef;
    color: #fff;
    cursor: pointer;
  }
  
  .modal-content input[type="submit"]:hover {
    background-color: #059b9b;
  }
  
  button[type="submit"] {
    background-color: #1aeeef;
    color: #fff;
    cursor: pointer;
    border: none; /* Remove border */
    padding: 10px 20px; /* Adjust padding */
    border-radius: 5px; /* Add border radius */
}

button[type="submit"]:hover {
    background-color: #059b9b;
    box-shadow: 0 0 10px #1aeeef; /* Add box shadow on hover */
}

/* Modal Content for Remove Game */
#removeGameModal .modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #removeGameModal .modal-content form {
    display: flex;
    flex-direction: column;
  }
  
  #removeGameModal .modal-content .inputBx {
    margin-bottom: 15px;
  }
  
  #removeGameModal .modal-content .inputBx p {
    margin-bottom: 5px;
  }
  
  #removeGameModal .modal-content input[type="text"],
  #removeGameModal .modal-content input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
  }
  
  #removeGameModal .modal-content input[type="submit"] {
    background-color: #1aeeef;
    color: #fff;
    cursor: pointer;
  }
  
  #removeGameModal .modal-content input[type="submit"]:hover {
    background-color: #059b9b;
  }
  
  #removeGameModal button[type="submit"] {
    background-color: #1aeeef;
    color: #fff;
    cursor: pointer;
    border: none; /* Remove border */
    padding: 10px 20px; /* Adjust padding */
    border-radius: 5px; /* Add border radius */
  }
  
  #removeGameModal button[type="submit"]:hover {
    background-color: #059b9b;
    box-shadow: 0 0 10px #1aeeef; /* Add box shadow on hover */
  }
  
  /*drop down*/
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1b2141;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1aeeef;
    color: #050e2d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #1b2141;
    padding: 20px;
    border: 1px solid #1aeeef;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    color: #fff;
    z-index: 1002;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.close-btn {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #1aeeef;
    text-decoration: none;
}

/* Form Styling */
.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content .inputBx {
    margin-bottom: 15px;
}

.modal-content .inputBx p {
    margin-bottom: 5px;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="password"],
.modal-content input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
    background: #1b2141;
    color: #fff;
}

button[type="submit"] {
    background-color: #1aeeef;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #059b9b;
    box-shadow: 0 0 10px #1aeeef;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.modal-content {
    /* Your modal content styles */

    background-color: #1b2141;
    padding: 20px;
    border: 1px solid #1aeeef;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    color: #fff;
    z-index: 1002;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}